<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqsx.rgzn.smartagriculture">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activity.UniteAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Tset2Activity"></activity>
        <activity android:name=".Activity.FirstInformatiomActivity" />
        <activity android:name=".Activity.FirstNotesActivity" />
        <activity android:name=".Activity.ControlWindoutActivity" />
        <activity android:name=".Activity.ControlWindActivity" />
        <activity android:name=".Activity.ControlSoilActivity" />
        <activity android:name=".Activity.ControlLightActivity" >

        </activity>
        <activity android:name=".Activity.ControlTemperatureActivity" />
        <activity android:name=".Activity.LineMainActivity" />
        <activity android:name=".Activity.RabatActivity" />
        <activity android:name=".Activity.WindActivity" />
        <activity android:name=".Activity.SoilActivity" />
        <activity android:name=".Activity.LightActivity" />
        <activity android:name=".Activity.TemperatureActivity" />
        <activity android:name=".Activity.HttpUrlConnectionActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.NavigateActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>